{% extends 'web/base.html' %}
{% load static %}
{% block content %}

        <!--Start breadcrumb area paroller-->
        <section class="breadcrumb-area">
            <div class="breadcrumb-area-bg" style="background-image: url({% static 'web/images/breadcrumb/breadcrumb-1.jpg' %});">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="inner-content text-center">
                            <div class="title">
                                <h2>About Company</h2>
                            </div>
                            <div class="breadcrumb-menu">
                                <ul>
                                    <li><a href="{% url 'web:index' %}">Home</a></li>
                                    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                    <li class="active">About Company</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End breadcrumb area-->

        <!--Start About Style3 Area-->
        <section class="about-style3-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 about_section" >
                        {% comment %} <div class="about-style3-top">
                            <img src="{% static 'web/images/about/about-style3.jpg' %}" alt="">
                        </div> {% endcomment %}
                        <div class="about-style3-content">
                            <div class="row">
                                <div class="col-xl-6" style=" flex: 5 0 50% !important; max-width: 120% !important;">
                                    <div class="about-style3-text-box1">
                                        <div class="sec-title">
                                            <div class="sub-title">
                                                <h5>About Company</h5>
                                            </div>
                                            <h2>Spring water home businesses</h2>
                                            <div class="decor">
                                                <img src="{% static 'web/images/shape/decor.png' %}" alt="">
                                            </div>
                                        </div>

                                        <div class="inner-content">
                                            <div class="text">
                                                <p>Almas is pleased to be your trusted provider of premium water solutions in the heart of Qatar. We take pride in our 5-gallon water bottles, which are carefully crafted to showcase our commitment to excellence by providing only the purest and highest quality water. Our water undergoes rigorous testing to ensure its chemical integrity, making it the ultimate source of reliable drinking water. With every sip, you can be assured of uncompromising freshness that is unmatched by any other water.</p>
                            <p>At Almas, we are committed to providing optimal hydration solutions that cater to everyone's preferences. We introduce our Hot and Cold Water Dispenser, an adaptable companion that is designed to meet the diverse needs of both residential and commercial spaces. With this dispenser, you can enjoy the convenience of instant access to your preferred temperature, whether it's a balanced warm drink or a chilled one. At Almas, we act as your trusted partner in making you robust and healthy by extending pure water for homes and businesses across Qatar.</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End About Style3 Area-->
        <!--Start Fact Counter Area-->
        <section class="fact-counter-style3-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="fact-counter">
                            <div class="fact-counter-bg"
                                style="background-image: url({% static 'web/images/parallax-background/fact-counter_box-bg.jpg' %});">
                            </div>
                            <ul class="clearfix">
                                <li class="single-fact-counter-style2 wow" data-wow-delay="200ms"
                                    data-wow-duration="1500ms">
                                    <div class="icon">
                                        <div class="icon-bg"
                                            style="background-image: url({% static 'web/images/shape/fact-counter-icon-bg.png' %});">
                                        </div>
                                        <div class="icon-bg-overlay"
                                            style="background-image: url({% static 'web/images/shape/fact-counter-icon-bg-overlay.png' %});">
                                        </div>
                                        <span class="icon-plastic-bottle"></span>
                                    </div>
                                    <div class="outer-box">
                                        <span class="icon-water-drop"></span>
                                        <div class="count-outer count-box">
                                            <span class="count-text" data-speed="3000" data-stop="6.8">0</span>
                                            <span class="k">k</span>
                                        </div>
                                        <div class="title">
                                            <h6>Bottled Delivered</h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="single-fact-counter-style2 wow" data-wow-delay="200ms"
                                    data-wow-duration="1500ms">
                                    <div class="icon">
                                        <div class="icon-bg"
                                            style="background-image: url({% static 'web/images/shape/fact-counter-icon-bg.png' %});">
                                        </div>
                                        <div class="icon-bg-overlay"
                                            style="background-image: url({% static 'web/images/shape/fact-counter-icon-bg-overlay.png' %});">
                                        </div>
                                        <span class="icon-rating"></span>
                                    </div>
                                    <div class="outer-box">
                                        <span class="icon-water-drop"></span>
                                        <div class="count-outer count-box">
                                            <span class="count-text" data-speed="3000" data-stop="8">0</span>
                                            <span class="plus">+</span>
                                        </div>
                                        <div class="title">
                                            <h6>Yesr of experienced</h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="single-fact-counter-style2 wow" data-wow-delay="200ms"
                                    data-wow-duration="1500ms">
                                    <div class="icon">
                                        <div class="icon-bg"
                                            style="background-image: url({% static 'web/images/shape/fact-counter-icon-bg.png' %});">
                                        </div>
                                        <div class="icon-bg-overlay"
                                            style="background-image: url({% static 'web/images/shape/fact-counter-icon-bg-overlay.png' %});">
                                        </div>
                                        <span class="icon-businessman"></span>
                                    </div>
                                    <div class="outer-box">
                                        <span class="icon-water-drop"></span>
                                        <div class="count-outer count-box">
                                            <span class="count-text" data-speed="3000" data-stop="45">0</span>
                                        </div>
                                        <div class="title">
                                            <h6>Team Members</h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="single-fact-counter-style2 wow" data-wow-delay="200ms"
                                    data-wow-duration="1500ms">
                                    <div class="icon">
                                        <div class="icon-bg"
                                            style="background-image: url({% static 'web/images/shape/fact-counter-icon-bg.png' %});">
                                        </div>
                                        <div class="icon-bg-overlay"
                                            style="background-image: url({% static 'web/images/shape/fact-counter-icon-bg-overlay.png' %});">
                                        </div>
                                        <span class="icon-map"></span>
                                    </div>
                                    <div class="outer-box">
                                        <span class="icon-water-drop"></span>
                                        <div class="count-outer count-box">
                                            <span class="count-text" data-speed="3000" data-stop="760">0</span>
                                        </div>
                                        <div class="title">
                                            <h6>Happy Customers</h6>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Fact Counter Area-->


        <!--Start Choose Style1 Area-->
        <section class="choose-style3-area">
            <div class="container">
                <div class="sec-title text-center">
                    <div class="sub-title">
                        <h5>Why Choose Almas</h5>
                    </div>
                    <h2>You’ll love fresh <br>taste of our natural water</h2>
                    <div class="decor">
                        <img src="{% static 'web/images/shape/decor.png' %}" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="choose-style3-content">
                            <div class="theme_carousel choose-carousel_1 owl-dot-style1 owl-theme owl-carousel"
                                data-options='{"loop": true, "margin": 30, "autoheight":true, "lazyload":true, "nav": false, "dots": true, "autoplay": true, "autoplayTimeout": 6000, "smartSpeed": 1500, "responsive":{ "0" :{ "items": "1" }, "600" :{ "items" : "1" }, "768" :{ "items" : "2" } , "992":{ "items" : "3" }, "1200":{ "items" : "4" }}}'>

                                <!--Start Single Choose Box Style3-->
                                <div class="single-choose-box-style3">
                                    <div class="inner text-center">
                                        <div class="count-box">01</div>
                                        <div class="icon">
                                            <span class="icon-water-drop-1"></span>
                                        </div>
                                        <div class="text">
                                            <h3>High Quality</h3>
                                            <p>Indulge in pure excellence with our crafted water.</p>
                                        </div>
                                    </div>
                                </div>
                                <!--End Single Choose Box Style3-->
                                <!--Start Single Choose Box Style3-->
                                <div class="single-choose-box-style3">
                                    <div class="inner text-center">
                                        <div class="count-box">02</div>
                                        <div class="icon">
                                            <span class="icon-medal"></span>
                                        </div>
                                        <div class="text">
                                            <h3>Certified</h3>
                                            <p>Rigorous certifications guarantee our commitment.</p>
                                        </div>
                                    </div>
                                </div>
                                <!--End Single Choose Box Style3-->
                                <!--Start Single Choose Box Style3-->
                                <div class="single-choose-box-style3">
                                    <div class="inner text-center">
                                        <div class="count-box">03</div>
                                        <div class="icon">
                                            <span class="icon-shield"></span>
                                        </div>
                                        <div class="text">
                                            <h3>Reliable</h3>
                                            <p>Uncompromising Freshness, Consistent Supply.</p>
                                        </div>
                                    </div>
                                </div>
                                <!--End Single Choose Box Style3-->
                                <!--Start Single Choose Box Style3-->
                                <div class="single-choose-box-style3">
                                    <div class="inner text-center">
                                        <div class="count-box">04</div>
                                        <div class="icon">
                                            <span class="icon-hand"></span>
                                        </div>
                                        <div class="text">
                                            <h3>Affordable</h3>
                                            <p>Premium water solutions that won't break the bank</p>
                                        </div>
                                    </div>
                                </div>
                                <!--End Single Choose Box Style3-->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!--End Choose Style1 Area-->
{% comment %} 
        <!--Start Certificates Area-->
        <section class="certificates-area">
            <div class="container">
                <div class="sec-title text-center">
                    <div class="sub-title">
                        <h5>Certificates</h5>
                    </div>
                    <h2>Pleased to inform you that<br> we are certified</h2>
                    <div class="decor">
                        <img src="{% static 'web/images/shape/decor.png' %}" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="theme_carousel certificates-carousel_1 owl-dot-style1 owl-theme owl-carousel"
                            data-options='{"loop": true, "margin": 30, "autoheight":true, "lazyload":true, "nav": false, "dots": true, "autoplay": true, "autoplayTimeout": 6000, "smartSpeed": 300, "responsive":{ "0" :{ "items": "1" }, "600" :{ "items" : "1" }, "768" :{ "items" : "1" } , "992":{ "items" : "2" }, "1200":{ "items" : "3" }}}'>
                            <!--Start Single Certificates Box-->
                            <div class="single-certificates-box text-center">
                                <div class="img-box">
                                    <img src="{% static 'web/images/resources/certificates-1.jpg' %}" alt="">
                                </div>
                                <div class="text-holder">
                                    <div class="border-box"></div>
                                    <h3>iso 9001</h3>
                                    <p>Quality Services Provider</p>
                                </div>
                            </div>
                            <!--End Single Certificates Box-->
                            <!--Start Single Certificates Box-->
                            <div class="single-certificates-box text-center">
                                <div class="img-box">
                                    <img src="{% static 'web/images/resources/certificates-2.jpg' %}" alt="">
                                </div>
                                <div class="text-holder">
                                    <div class="border-box"></div>
                                    <h3>iso 14001</h3>
                                    <p>Environment Friendly</p>
                                </div>
                            </div>
                            <!--End Single Certificates Box-->
                            <!--Start Single Certificates Box-->
                            <div class="single-certificates-box text-center">
                                <div class="img-box">
                                    <img src="{% static 'web/images/resources/certificates-3.jpg' %}" alt="">
                                </div>
                                <div class="text-holder">
                                    <div class="border-box"></div>
                                    <h3>iso 22301</h3>
                                    <p>Business Continuity Service</p>
                                </div>
                            </div>
                            <!--End Single Certificates Box-->

                            <!--Start Single Certificates Box-->
                            <div class="single-certificates-box text-center">
                                <div class="img-box">
                                    <img src="{% static 'web/images/resources/certificates-1.jpg' %}" alt="">
                                </div>
                                <div class="text-holder">
                                    <div class="border-box"></div>
                                    <h3>iso 9001</h3>
                                    <p>Quality Services Provider</p>
                                </div>
                            </div>
                            <!--End Single Certificates Box-->
                            <!--Start Single Certificates Box-->
                            <div class="single-certificates-box text-center">
                                <div class="img-box">
                                    <img src="{% static 'web/images/resources/certificates-2.jpg' %}" alt="">
                                </div>
                                <div class="text-holder">
                                    <div class="border-box"></div>
                                    <h3>iso 14001</h3>
                                    <p>Environment Friendly</p>
                                </div>
                            </div>
                            <!--End Single Certificates Box-->
                            <!--Start Single Certificates Box-->
                            <div class="single-certificates-box text-center">
                                <div class="img-box">
                                    <img src="{% static 'web/images/resources/certificates-3.jpg' %}" alt="">
                                </div>
                                <div class="text-holder">
                                    <div class="border-box"></div>
                                    <h3>iso 22301</h3>
                                    <p>Business Continuity Service</p>
                                </div>
                            </div>
                            <!--End Single Certificates Box-->

                            <!--Start Single Certificates Box-->
                            <div class="single-certificates-box text-center">
                                <div class="img-box">
                                    <img src="{% static 'web/images/resources/certificates-1.jpg' %}" alt="">
                                </div>
                                <div class="text-holder">
                                    <div class="border-box"></div>
                                    <h3>iso 9001</h3>
                                    <p>Quality Services Provider</p>
                                </div>
                            </div>
                            <!--End Single Certificates Box-->
                            <!--Start Single Certificates Box-->
                            <div class="single-certificates-box text-center">
                                <div class="img-box">
                                    <img src="{% static 'web/images/resources/certificates-2.jpg' %}" alt="">
                                </div>
                                <div class="text-holder">
                                    <div class="border-box"></div>
                                    <h3>iso 14001</h3>
                                    <p>Environment Friendly</p>
                                </div>
                            </div>
                            <!--End Single Certificates Box-->
                            <!--Start Single Certificates Box-->
                            <div class="single-certificates-box text-center">
                                <div class="img-box">
                                    <img src="{% static 'web/images/resources/certificates-3.jpg' %}" alt="">
                                </div>
                                <div class="text-holder">
                                    <div class="border-box"></div>
                                    <h3>iso 22301</h3>
                                    <p>Business Continuity Service</p>
                                </div>
                            </div>
                            <!--End Single Certificates Box-->

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Certificates Area--> {% endcomment %}
{% endblock %}