{% extends 'web/base.html' %}
{% load static %}
{% block content %}

<!--Start breadcrumb area paroller-->     
<section class="breadcrumb-area">
    <div class="breadcrumb-area-bg" style="background-image: url({% static 'web/images/breadcrumb/breadcrumb-1.jpg' %});"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content text-center">
                    <div class="title">
                       <h2>Single Post</h2>
                    </div>
                    <div class="breadcrumb-menu">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active">Blog Details</li>
                        </ul>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->

<!--Start Blog Details Area-->
<section class="blog-details-area">
    <div class="container">
        <div class="row text-right-rtl">
            <div class="col-xl-8 col-lg-7">
                <div class="blog-details-content">
    
                    <div class="single-blog-style1 single-blog-style3">
                        <div class="text-holder">
                            <div class="categories">
                                <h6><i class="fa fa-folder"></i>Bottled Water</h6>
                            </div>
                            <h3 class="blog-title">Packaged Water: What Things to Consider?</h3>
                            <div class="meta-box">
                                <ul class="meta-info">
                                    <li><i class="fa fa-calendar" aria-hidden="true"></i> May 10, 2023</li>
                                    <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> By Shaw</a></li>
                                    <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 54 Views</a></li>
                                    <li><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i> 3 Comments</a></li>
                                </ul>
                            </div>
                            <div class="text">
                                <p>Foresee the pain and trouble that are bound ensue and equal blame belongs our power of choice untrammelled and when nothing prevents what like best we denounces righteous indignation and dislike men christmas beguiled and demoralized by the charms of pleasure of the moment so that they cannot foresee the pain and trouble that are bound to ensue. </p>
                            </div>
                        </div> 
                        <div class="img-holder">
                            <div class="inner">
                                <img src="{% static 'web/images/blog/blog-details-1.jpg' %}" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="blog-details-text-1">
                        <h3>Experience the Difference</h3>
                        <p>Bound ensue and equal blame belongs our power of choice untrammelled when nothing prevents what like best we denounces righteos indignation and dislike men christmas beguiled demoralized by the charms of pleasure of the moment.</p>
                        <p>Indignation and dislike men who are so beguiled and demoralized  the charms of pleasure moment so blinded by desire, that they cannot foresee the pain and trouble.</p>
                        <p>Fault with a man who chooses to enjoy a pleasure that annoying consequences who avoids.</p>
                    </div>

                    <div class="blog-details-quote-box">
                        <div class="inner-content">
                            <div class="icon">
                                <span class="icon-left-quote"></span>
                            </div>
                            <div class="text">
                                <h3>A river seems a magic thing. A magic, moving, living part of the very earth itself.</h3>
                                <h5>Stephen Jones</h5>
                            </div>
                        </div>
                    </div>

                    <div class="blog-details-text-2">
                        <h3>Is Safe to Drink?</h3>
                        <p>Mistaken idea of denouncing pleasure and praising pain was born and we will give you a complete
                            account of the systems, and expounds the actual teachings of the great explorers of the truth that
                            master-builder of human happiness one rejects dislikes.
                        </p>
                        <ul>
                            <li>Obligations of business it will frequently occur that pleasures.</li>
                            <li>Foresee the pain and trouble that are bound.</li>
                            <li>Foresee the pain and trouble that are bound.</li>
                            <li>Foresee the pain and trouble that are bound.</li>
                        </ul>
                    </div>

                    <div class="tag-social-share-box">
                        <div class="tag-box">
                            <div class="title">
                                <h3>Tags:</h3>
                            </div>
                            <ul class="tag-list">
                                <li><a href="#">Safety</a></li>    
                                <li><a href="#">Mineral</a></li>      
                                <li><a href="#">Home</a></li>      
                            </ul>
                        </div>
                        <div class="post-social-share">
                            <div class="title">
                                <h3>Share:</h3>
                            </div>
                            <div class="social-link">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> 
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> 
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a> 
                                    </li>
                                </ul>
                            </div>
                        </div>  
                    </div>

                    <div class="blog-prev-next-option">
                        <div class="single-box left">
                            <p><a href="#"><span class="icon-right-arrow-1"></span> Prev Post</a></p>
                            <h2><a href="#">Top Benefits of Having Our<br> Mobile App</a></h2>
                        </div>
                        <div class="single-box right">
                            <p><a href="#">Next Post <span class="icon-right-arrow-1"></span></a></p>
                            <h2><a href="#">Discover The Beauties of<br> Bulk Bottled Water</a></h2>    
                        </div>
                    </div>

                    <div class="blog-details-author">
                        <div class="inner-box">
                            <div class="img-box">
                                <img src="{% static 'web/images/blog/author.jpg' %}" alt="">
                            </div>
                            <div class="text">
                                <h3>Paul Anderson</h3>
                                <p>They cannot foresee the pain and trouble that are bound to ensue and equal blame belongs to those who fail in their duty through all weakness of will, which is the same as saying.</p>
                                <div class="social-links">
                                    <div class="thm-social-link2 clearfix">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> 
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> 
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a> 
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div> 
                        </div>   
                    </div>

                    <!--Start comment box-->
                    <div class="comment-box">
                        <div class="title">
                            <h3>Read Comments - 3</h3>
                        </div>
                        <div class="outer-box">
                            <div class="row">
                                <div class="col-md-12">

                                    <!--Start single comment-->
                                    <div class="single-comment">
                                        <div class="single-comment-box">
                                            <div class="img-holder">
                                                <img src="{% static 'web/images/blog/comment-1.jpg' %}" alt="Awesome Image">
                                            </div>
                                            <div class="text-holder">
                                                <div class="top">
                                                    <h3>Steven Rich, <span>Mar 21, 2023</span></h3>
                                                </div>
                                                <div class="text">
                                                    <p>How all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.</p>
                                                    <div class="reply">
                                                        <a href="#">Reply</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End single comment-->
                                    <!--Start single comment-->
                                    <div class="single-comment marginleft100">
                                        <div class="single-comment-box">
                                            <div class="img-holder">
                                                <img src="{% static 'web/images/blog/comment-2.jpg' %}" alt="Awesome Image">
                                            </div>
                                            <div class="text-holder">
                                                <div class="top">
                                                    <h3>William Cobus, <span>Mar 21, 2023</span></h3>
                                                </div>
                                                <div class="text">
                                                    <p>Nor again is there anyone who loves pursues desires obtain of itself because it is pain our power of choice.</p>
                                                    <div class="reply">
                                                        <a href="#">Reply</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End single comment-->
                                    <!--Start single comment-->
                                    <div class="single-comment">
                                        <div class="single-comment-box">
                                            <div class="img-holder">
                                                <img src="{% static 'web/images/blog/comment-3.jpg' %}" alt="Awesome Image">
                                            </div>
                                            <div class="text-holder">
                                                <div class="top">
                                                    <h3>Sofia Charlotte, <span>Mar 20, 2023</span></h3>
                                                </div>
                                                <div class="text">
                                                    <p>Ever undertake laborious physical  our power of choiceexercise except do what we like best, every pleasure to be welcomed.</p>
                                                    <div class="reply">
                                                        <a href="#">Reply</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End single comment-->

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End comment box-->

                    <!--Start add comment box-->
                    <div class="add-comment-box">
                        <div class="title">
                            <h3>Send Your Comment</h3>
                            <p>Your email address will not be published. Required fields are marked *</p>
                        </div>
                        <form id="add-comment-form" action="#">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-box">
                                                <input type="text" name="fname" value="" placeholder="Your name" required="">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-box">
                                                <input type="email" name="femail" value="" placeholder="Email address" required="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="input-box">
                                                <textarea name="fcomments" placeholder="comments" required=""></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="checked-box2">
                                                <input type="checkbox" name="skipper1" id="skipper" checked="">
                                                <label for="skipper"><span></span> Save my details in this browser for the next time I comment.</label>
                                            </div>
                                            <div class="button-box">
                                                <button class="btn-one" type="submit">
                                                    <span class="round"></span>
                                                    <span class="txt">Submit</span>
                                                </button> 
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                    <!--End add comment box-->  

                    

                </div>
            </div>

            <div class="col-xl-4 col-lg-5">
                <div class="sidebar-content-box">
                    <!--Start Single Sidebar Box-->
                    <div class="single-sidebar-box">
                        <div class="border-box" style="background-image: url({% static 'web/images/shape/zikjak-line-2.png);"></div>
                        <div class="title">
                            <h3>Search</h3>
                            <div class="decor">
                                <img src="{% static 'web/images/shape/decor.png" alt="">
                            </div>
                        </div>
                        <div class="single-sidebar_search_box">
                            <div class="sidebar-search-box">
                                <form class="search-form" action="#">
                                    <input placeholder="Keyword..." type="text">
                                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--End Single Sidebar Box-->
                    <!--Start Single Sidebar Box-->
                    <div class="single-sidebar-box">
                        <div class="border-box" style="background-image: url({% static 'web/images/shape/zikjak-line-2.png);"></div>
                        <div class="title">
                            <h3>Search</h3>
                            <div class="decor">
                                <img src="{% static 'web/images/shape/decor.png" alt="">
                            </div>
                        </div>
                        <div class="sidebar-categories">
                            <ul class="sidebar-categories-box">
                                <li><a href="#">Water Coolers <span>4</span></a></li>
                                <li><a href="#">Bottle-Free Water <span>5</span></a></li>
                                <li><a href="#">Sport Bottles <span>6</span></a></li>
                                <li><a href="#">Bottled Water <span>2</span></a></li>
                                <li><a href="#">Water Softener Salt <span>1</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!--End Single Sidebar Box-->

                    <!--Start Single Sidebar Box-->
                    <div class="single-sidebar-box">
                        <div class="border-box" style="background-image: url({% static 'web/images/shape/zikjak-line-2.png);"></div>
                        <div class="title">
                            <h3>Popular Post</h3>
                            <div class="decor">
                                <img src="{% static 'web/images/shape/decor.png" alt="">
                            </div>
                        </div>
                        <div class="sidebar-blog-post">
                            <ul class="blog-post">
                                <li>
                                    <div class="inner">   
                                        <div class="img-box">
                                            <img src="{% static 'web/images/sidebar/sidebar-blog-post1.jpg' %}" alt="Awesome Image">
                                            <div class="overlay-content">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>    
                                        </div>
                                        <div class="title-box">
                                            <h6><i class="fa fa-calendar" aria-hidden="true"></i> May 10, 2023</h6>
                                            <h4><a href="#">Top Benefits of Having<br> Our Mobile App</a></h4>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner">   
                                        <div class="img-box">
                                            <img src="{% static 'web/images/sidebar/sidebar-blog-post2.jpg' %}" alt="Awesome Image">
                                            <div class="overlay-content">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>    
                                        </div>
                                        <div class="title-box">
                                            <h6><i class="fa fa-calendar" aria-hidden="true"></i> May 05, 2023</h6>
                                            <h4><a href="#">Five Tips to Keep Your<br> Body Hydrated</a></h4>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner">   
                                        <div class="img-box">
                                            <img src="{% static 'web/images/sidebar/sidebar-blog-post3.jpg' %}" alt="Awesome Image">
                                            <div class="overlay-content">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>    
                                        </div>
                                        <div class="title-box">
                                            <h6><i class="fa fa-calendar" aria-hidden="true"></i> Apr 10, 2023</h6>
                                            <h4><a href="#">Discover The Beauties of<br> Bulk Bottled Water</a></h4>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--End Single Sidebar Box-->

                    <!--Start Single Sidebar Box-->
                    <div class="single-sidebar-box">
                        <div class="border-box" style="background-image: url({% static 'web/images/shape/zikjak-line-2.png);"></div>
                        <div class="title">
                            <h3>Tag Cloud</h3>
                            <div class="decor">
                                <img src="{% static 'web/images/shape/decor.png" alt="">
                            </div>
                        </div>
                        <ul class="popular-tag">
                            <li><a href="#">Water Quality</a></li>
                            <li><a href="#">Sports</a></li>
                            <li><a href="#">Safety</a></li>
                            <li><a href="#">Office</a></li>
                            <li><a href="#">Mineral</a></li>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Delivery</a></li>
                            <li><a href="#">Coolers</a></li>
                            <li><a href="#">Bottle</a></li>
                        </ul>
                    </div>
                    <!--End Single Sidebar Box-->

                    <!--Start Single Sidebar Box-->
                    <div class="single-sidebar-box last-box">
                        <div class="title">
                            <h3>Subscribe Us</h3>
                            <div class="decor">
                                <img src="{% static 'web/images/shape/decor.png" alt="">
                            </div>
                        </div>
                        <div class="subscribe-content-box subscribe-content-box--style2 text-center">
                            <div class="inner-content">
                                <div class="icon">
                                    <span class="icon-email-1"></span>
                                </div> 
                                <h3>Subscribe Us</h3> 
                                <p>Subscribe us &amp; get latest news &amp;<br> articles to inbox.</p> 
                                <form class="subscribe-form" action="#">
                                    <input type="email" name="email" placeholder="Email Address">
                                    <button class="btn-one" type="submit"><span class="txt">Subscribe</span></button>
                                    <div class="message">We don’t spam</div>
                                </form> 
                            </div>
                        </div>
                    </div>
                    <!--End Single Sidebar Box-->
                </div>
            </div>


        </div>
    </div>
</section>
<!--End Blog Details Area-->
{% endblock %}