{% extends 'web/base.html' %}
{% load static %}
{% block content %}

<!-- Start Main Slider -->
<section class="main-slider style2">
    <div class="slider-box">
        <!-- Banner Carousel -->
        <div class="banner-carousel owl-thme owl-carousel">
           
            <div class="slide">
                <div class="image-layer" style="background-image:url({% static 'web/images/slides/slide-v2-2.jpg' %})">
                </div>
                <div class="auto-contaner">
                    <div class="content text-center">
                        <div class="sub-title">
                            <h6>delivery services in QATAR</h6>
                        </div>
                        <div class="big-title">
                            <h2>Delivered Right To<br> Your Home & Office Door.</h2>
                        </div>
                      
                        <div class="btns-box center">
                            <a class="btn-one" href="{% url "web:about" %}">
                                <div class="round"></div>
                                <span class="txt">Read More</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</section>
<!-- End Main Slider -->

<!--Start Choose Style2 Area-->
<section class="choose-style2-area">
    <div class="auto-container">
        <div class="outer-box">
            <div class="row">
                <!--Start Single Choose Box Style2-->
                <div class="col-xl-3 step1">
                    <div class="single-choose-box-style2">
                        <div class="inner">
                            <div class="outer-icon">
                                <div class="icon-bg"
                                    style="background-image: url({% static 'web/images/shape/choose-style2-icon-bg1.png' %});">
                                </div>
                                <span class="icon-water-drop-1"></span>
                            </div>
                            <div class="inner-content">
                                <div class="inner-icon">
                                    <div class="icon-bg"
                                        style="background-image: url({% static 'web/images/shape/choose-style2-icon-bg2.png' %});">
                                    </div>
                                    <span class="icon-water-drop-1"></span>
                                </div>
                                <div class="title">
                                    <h3>High Quality</h3>
                                    <p>We assure extra safety & promise high quality of the water we deliver.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Single Choose Box Style2-->
                <!--Start Single Choose Box Style2-->
                <div class="col-xl-3 step1">
                    <div class="single-choose-box-style2">
                        <div class="inner">
                            <div class="outer-icon">
                                <div class="icon-bg"
                                    style="background-image: url({% static 'web/images/shape/choose-style2-icon-bg1.png' %});">
                                </div>
                                <span class="icon-write-message"></span>
                            </div>
                            <div class="inner-content">
                                <div class="inner-icon">
                                    <div class="icon-bg"
                                        style="background-image: url({% static 'web/images/shape/choose-style2-icon-bg2.png' %});">
                                    </div>
                                    <span class="icon-write-message"></span>
                                </div>
                                <div class="title">
                                    <h3>Fast Delivery </h3>
                                    <p>You can ring us anytime to avail of our speedy delivery service.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Single Choose Box Style2-->
                <!--Start Single Choose Box Style2-->
                <div class="col-xl-3 step1">
                    <div class="single-choose-box-style2">
                        <div class="inner">
                            <div class="outer-icon">
                                <div class="icon-bg"
                                    style="background-image: url({% static 'web/images/shape/choose-style2-icon-bg1.png' %});">
                                </div>
                                <span class="icon-truck"></span>
                            </div>
                            <div class="inner-content">
                                <div class="inner-icon">
                                    <div class="icon-bg"
                                        style="background-image: url({% static 'web/images/shape/choose-style2-icon-bg2.png' %});">
                                    </div>
                                    <span class="icon-truck"></span>
                                </div>
                                <div class="title">
                                    <h3>Tested at Our Lab </h3>
                                    <p>Our chemical team ensures water quality through proper tests.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Single Choose Box Style2-->
                <!--Start Single Choose Box Style2-->
                <div class="col-xl-3 step1">
                    <div class="single-choose-box-style2">
                        <div class="inner">
                            <div class="outer-icon">
                                <div class="icon-bg"
                                    style="background-image: url({% static 'web/images/shape/choose-style2-icon-bg1.png' %});">
                                </div>
                                <span class="icon-hand"></span>
                            </div>
                            <div class="inner-content">
                                <div class="inner-icon">
                                    <div class="icon-bg"
                                        style="background-image: url({% static 'web/images/shape/choose-style2-icon-bg2.png' %});">
                                    </div>
                                    <span class="icon-hand"></span>
                                </div>
                                <div class="title ">
                                    <h3>Affordable price range </h3>
                                    <p>
                                        We ensure the best by offering budget-friendly water costs. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Single Choose Box Style2-->
            </div>
        </div>
    </div>
</section>
<!--End Choose Style2 Area-->


<!--Start Service Style2 Area-->
<section class="service-style2-area">
    <div class="container">
        <div class="sec-title text-center">
            <div class="sub-title">
                <h5>OUR PRODUCTS</h5>
            </div>
            <h2>Showcasing our major products <br> for you</h2>

        </div>
        <div class="row">
            <div class="theme_carousel testimonials-carousel_2 owl-theme owl-carousel"
                    data-options='{"loop": true, "margin": 30, "autoheight":true, "lazyload":true, "nav": false, "dots": false, "autoplay": true, "autoplayTimeout": 6000, "smartSpeed": 300, "responsive":{ "0" :{ "items": "1" }, "600" :{ "items" : "1" }, "768" :{ "items" : "1" } , "992":{ "items" : "2" }, "1200":{ "items" : "3" }}}'>
            <!--Start Single Service Style1-->
            {% for product in products %}
            <div class="col-xl-4">
                <div class="single-service-style2">
                    <div class="img-holde">
                        <a href="{{product.get_absolute_url}}"><div class="inner product-img">
                            <img src="{{product.image.url}}" alt="">
                        </div></a>
                    </div>
                    <div class="title-holder">
                        <div class="top">
                            <div class="text product-text">
                                <p>{{product.size}}</p>
                                <h3><a href="{{product.get_absolute_url}}">{{product.name}}</a></h3>

                            </div>
                        </div>
                        <div class="bottom">
                            <p>{{product.description |truncatechars:70}}</p>
                            <div class="btn-box">
                                <a class="btn-one" href="{{product.get_absolute_url}}">
                                    <div class="round"></div>
                                    <span class="txt">Enquiry Now</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        </div>
    </div>
</section>
<!--End Service Style2 Area-->

<!--Start About Style2 Area-->
{% include "web/partials/about.html" %}
<!--End About Style2 Area-->

<!--Start Fact Counter Area-->
<section class="fact-counter-area fact-counter-area--style2">
    <div class="auto-container">
        <div class="row">
            <div class="col-xl-12">
                <div class="fact-counter_box">
                    <ul class="clearfix">
                        <li class="single-fact-counter wow" data-wow-delay="200ms" data-wow-duration="1500ms">
                            <div class="border-box"><img src="{% static 'web/images/shape/fact-counter-border.png' %}"
                                    alt="" /></div>
                            <div class="outer-box">
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="3000" data-stop="6.8">0</span>
                                    <span class="k">k</span>
                                </div>
                                <div class="title">
                                    <h6>Water Bottles<br> Delivered</h6>
                                </div>
                            </div>
                        </li>
                        <li class="single-fact-counter wow" data-wow-delay="200ms" data-wow-duration="1500ms">
                            <div class="border-box"><img src="{% static 'web/images/shape/fact-counter-border.png' %}"
                                    alt="" /></div>
                            <div class="outer-box">
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="3000" data-stop="8">0</span>
                                    <span class="plus">+</span>
                                </div>
                                <div class="title">
                                    <h6>Years of <br>Experience</h6>
                                </div>
                            </div>
                        </li>
                        <li class="single-fact-counter wow" data-wow-delay="200ms" data-wow-duration="1500ms">
                            <div class="border-box"><img src="{% static 'web/images/shape/fact-counter-border.png' %}"
                                    alt="" /></div>
                            <div class="outer-box">
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="3000" data-stop="45">0</span>
                                </div>
                                <div class="title">
                                    <h6>Experienced Team <br>Members</h6>
                                </div>
                            </div>
                        </li>
                        <li class="single-fact-counter wow" data-wow-delay="200ms" data-wow-duration="1500ms">
                            <div class="border-box"><img src="{% static 'web/images/shape/fact-counter-border.png' %}"
                                    alt="" /></div>
                            <div class="outer-box">
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="3000" data-stop="27">0</span>
                                </div>
                                <div class="title">
                                    <h6> Locations of<br />Service</h6>
                                </div>
                            </div>
                        </li>
                        <li class="single-fact-counter wow" data-wow-delay="200ms" data-wow-duration="1500ms">
                            <div class="border-box"></div>
                            <div class="outer-box">
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="3000" data-stop="760">0</span>
                                </div>
                                <div class="title">
                                    <h6>Happy <br>Customers</h6>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Fact Counter Area-->

<!--Start Testimonials Style2 area -->
<section class="testimonials-style2-area">
    <div class="layer-outer"
        style="background-image: url({% static 'web/images/parallax-background/testimonial-v2-bg.jpg' %});"></div>
    <div class="container">
        <div class="sec-title text-center">
            <div class="sub-title">
                <h5>Testimonials</h5>
            </div>
            <h2 class="clr_white">This is what they<br> tell about us </h2>

        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="theme_carousel testimonials-carousel_2 owl-theme owl-carousel"
                    data-options='{"loop": true, "margin": 30, "autoheight":true, "lazyload":true, "nav": false, "dots": false, "autoplay": true, "autoplayTimeout": 6000, "smartSpeed": 300, "responsive":{ "0" :{ "items": "1" }, "600" :{ "items" : "1" }, "768" :{ "items" : "1" } , "992":{ "items" : "2" }, "1200":{ "items" : "3" }}}'>

                    <!--Start Single Testimonials Style2-->
                    {% for t in testimonial %}
                    <div class="single-testimonials-style2">
                        <div class="icon">
                            <span class="icon-left-quote"></span>
                        </div>
                        <div class="inner-content">
                            <div class="rateing-box">
                                <ul>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                </ul>
                            </div>
                            <p>{{t.description}}</p>
                            <div class="bottom">
                                <div class="img-box">
                                    <img src="{{t.image.url}}" alt="" />
                                </div>
                                <div class="author-name">
                                    <h6><a href="#">{{t.name}}</a></h6>
                                    <p>{{t.position |default:""}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Testimonials Style2 area -->

<!--Start contact Style2 Area-->
<section class="contact-style2-area">
    <div class="container">
        <div class="row">

            <div class="col-xl-6">
                <div class="contact-style2_image-box">
                    <img src="{% static 'web/images/resources/contact-style2.jpg' %}" alt="" />
                    <!-- <div class="thm-round-box1 js-tilt paroller">
                        <h3>Top<br> Customer<br> Support</h3>
                    </div> -->
                </div>
            </div>

            <div class="col-xl-6">
                <div class="contact-form-box1 contact-form-box1--style2">
                    <div class="sec-title">
                        <div class="sub-title">
                            <h5>get in Touch</h5>
                        </div>
                        <h2>Feel free to <br> contact us anytime </h2>

                    </div>
                    <form id="contact-form" name="contact_form" class="default-form1 ajax reload" action="#" method="post">
                        {% csrf_token %}
                        <div class="input-box">
                            {% comment %} <input type="text" name="form_name" value="" placeholder="Your Name" required=""> {% endcomment %}
                            {{form.name}}
                            <div class="icon">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="input-box">
                            {% comment %} <input type="email" name="form_email" value="" placeholder="Email Address" required=""> {% endcomment %}
                            {{form.email}}
                            <div class="icon">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="input-box">
                            <div class="select-box">
                                <div class="round-shape" ></div>
                                  {{form.service}}
                            </div>
                            
                            <div class="icon">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="input-box">
                            {% comment %} <textarea name="form_message" placeholder="Your Message" required=""></textarea> {% endcomment %}
                            {{form.message}}
                            <div class="icon">
                                <i class="fa fa-text-width" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="button-box">
                            <button class="btn-one" type="submit" data-loading-text="Please wait...">
                                <span class="round"></span>
                                <span class="txt">Submit</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End contact Style2 Area-->

<!--Start Blog Style2 Area-->
<section class="blog-style2-area">
    <div class="container">
        <div class="sec-title text-center">
            <div class="sub-title">
                <h5>Recent Blog Post</h5>
            </div>
            <h2>Read our company news<br> & updates</h2>
        </div>
        {% include 'web/partials/blog.html' %}
    </div>
</section>
<!--End Blog Style2 Area-->

<!--Start Partner Area-->
<section class="partner-area">
    <div class="partner-bg"
        style="background-image: url({% static 'web/images/parallax-background/partner-bg.jpg' %});"></div>
    <div class="container">
        <ul class="partner-box">
            <!--Start Single Partner Logo Box-->
            <li class="single-partner-logo-box">
                <a href="#"><img src="{% static 'web/images/brand/brand-logo-1.png' %}" alt="Awesome Image"></a>
            </li>
            <!--End Single Partner Logo Box-->
            <!--Start Single Partner Logo Box-->
            <li class="single-partner-logo-box">
                <a href="#"><img src="{% static 'web/images/brand/brand-logo-2.png' %}" alt="Awesome Image"></a>
            </li>
            <!--End Single Partner Logo Box-->
            <!--Start Single Partner Logo Box-->
            <li class="single-partner-logo-box">
                <a href="#"><img src="{% static 'web/images/brand/brand-logo-3.png' %}" alt="Awesome Image"></a>
            </li>
            <!--End Single Partner Logo Box-->
            <!--Start Single Partner Logo Box-->
            <li class="single-partner-logo-box">
                <a href="#"><img src="{% static 'web/images/brand/brand-logo-4.png' %}" alt="Awesome Image"></a>
            </li>
            <!--End Single Partner Logo Box-->
        </ul>
    </div>
</section>
<!--End Partner Area-->

{% endblock %}