{% extends 'web/base.html' %}
{% load static %}
{% block content %}
  <!-- Start breadcrumb area paroller -->
  <section class="breadcrumb-area">
    <div class="breadcrumb-area-bg" style="background-image: url({% static 'web/images/breadcrumb/breadcrumb-1.jpg' %});"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="inner-content text-center">
            <div class="title">
              <h2>Product Details</h2>
            </div>
            <div class="breadcrumb-menu">
              <ul>
                <li>
                  <a href="{% url "web:index" %}">Home</a>
                </li>
                <li>
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </li>
                <li>
                  <a href="{% url "web:products" %}">Product</a>
                </li>
                <li>
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </li>
                <li class="active">Product Details</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb area -->

  <!-- Start Service Details Area -->
  <section class="service-details-area">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-5 order-box-2">
          <div class="thm-sidebar-box">
            

            <div class="sidebar-contact-info-box">
              <div class="contact-form-box1 contact-form-box1--style2 product-enquiry">
                <div class="sec-title">
                  <div class="sub-title">
                    <h5>Enquiry Now</h5>
                  </div>
                </div>
                <form id="contact-form" name="contact_form" class="default-form1 product-enquiry-form" action="#" method="post">
                  {% csrf_token %}
                  <div class="input-box">
                    <input type="text" name="form_name" value="{{ product.name }}" readonly />
                  </div>
                  <div class="input-box">{{ form.name }}</div>
                  <div class="input-box">{{ form.email }}</div>
                  <div class="input-box">{{ form.phone }}</div>
                  <div class="input-box">{{ form.message }}</div>
                  <div class="button-box">
                    <button class="btn-one" type="submit" data-loading-text="Please wait...">
                      <span class="round"></span>
                      <span class="txt">Submit</span>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-8 col-lg-7 order-box-1">
          <div class="service-details-content">
            <div class="top">
              <h2>{{ product.name }}</h2>
              <div class="img-box">
                <img src="{{ product.image.url }}" alt="" />
              </div>
            </div>
            <div class="service-details-text-box1">
              <h3>{{ product.name }}</h3>
              <p>{{ product.description }}</p>
            </div>

            
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Service Details Area -->
{% endblock %}
