{% load static %}
<!-- Start About Style2 Area -->
<section class="about-style2-area">
  <div class="about-style2_image-bg" style="background-image: url({% static 'web/images/resources/about-style2-bg.jpg' %});">
    <div class="about-style2-image-box wow slideInLeft" data-wow-delay="100ms" data-wow-duration="2500ms">
      <img src="{% static 'web/images/resources/about-style2-man.png' %}" alt="" />
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-6"></div>
      <div class="col-xl-6">
        <div class="about-style2_content">
          <div class="sec-title">
            <div class="sub-title">
              <h5>About Company</h5>
            </div>
            <h2>Good Water Delivered<br />to your homes & businesses</h2>
          </div>
          <div class="inner-content">
            <div class="text">
              <p>Almas is pleased to be your trusted provider of premium water solutions in the heart of Qatar. We take pride in our 5-gallon water bottles, which are carefully crafted to showcase our commitment to excellence by providing only the purest and highest quality water. Our water undergoes rigorous testing to ensure its chemical integrity, making it the ultimate source of reliable drinking water. With every sip, you can be assured of uncompromising freshness that is unmatched by any other water.</p>
              <p>At Almas, we are committed to providing optimal hydration solutions that cater to everyone's preferences. We introduce our Hot and Cold Water Dispenser, an adaptable companion that is designed to meet the diverse needs of both residential and commercial spaces. With this dispenser, you can enjoy the convenience of instant access to your preferred temperature, whether it's a balanced warm drink or a chilled one. At Almas, we act as your trusted partner in making you robust and healthy by extending pure water for homes and businesses across Qatar.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About Style2 Area -->
