{% load static %}

<!--Start footer area -->
<footer class="footer-area">
    <!--Start Footer-->
    <hr>
    <div class="footer">
        <div class="container">
            <div class="row text-right-rtl">
                <!--Start single footer widget-->
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 wow animated fadeInUp" data-wow-delay="0.1s">
                    <div class="single-footer-widget marbtm50">
                        <div class="our-company-info">
                            <div class="footer-logo">
                                <a href="{% url "web:index" %}"><img src="{% static 'web/images/resources/logo.svg' %}" alt="" /></a>
                            </div>
                            <div class="text-box">
                                <p>Every drop we deliver defines purity and with a committed heart, we are delighted to serve you. </p>
                            </div>
                            <div class="our-company-info-list">
                                <ul>
                                    <li><span class="icon-check-mark"></span>Free Delivery</li>
                                    <li><span class="icon-check-mark"></span>Secure Payment Options</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End single footer widget-->
                <!--Start single footer widget-->
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 wow animated fadeInUp" data-wow-delay="0.3s">
                    <div class="single-footer-widget martop marbtm50">
                        <div class="title">
                            <h3>Useful Links</h3>
                            <div class="decor">
                                <img src="{% static 'web/images/shape/decor.png' %}" alt="">
                            </div>
                        </div>
                        <div class="footer-widget-links">
                            <ul class="pull-left">
                                <li><a href="{% url "web:index" %}">HOME</a></li>
                                <li><a href="{% url "web:about" %}">ABOUT</a></li>
                                <li><a href="{% url "web:products" %}">PRODUCTS</a></li>
                                <li><a href="{% url "web:blog" %}">BLOG</a></li>
                                <li><a href="{% url "web:contact" %}">CONTACT</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--End single footer widget-->
                <!--Start single footer widget-->
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 wow animated fadeInUp" data-wow-delay="0.5s">
                    <div class="single-footer-widget martop">
                        <div class="title">
                            <h3>Locations</h3>
                            <div class="decor">
                                <img src="{% static 'web/images/shape/decor.png' %}" alt="">
                            </div>
                        </div>
                        <div class="single-footer-widget-Location">
                            <div class="owl-carousel owl-theme one-item-carousel owl-nav-style-one location_carousel">
                                <!--Start Single Location Box-->
                                <div class="single-Location-box">
                                    <h4>Qatar</h4>
                                    <p>Building#75, Zone:81 Street:30,<br>New industrial Area,Doha-qatar</p>

                                    <div class="phoe">
                                        <p>Home Delivery:<a href="tel:+974-4444-9010">+974-4444-9010</a></p>
                                    </div>
                                    <div class="phoe">
                                        <p>Contact Us:<a href="tel:+974-5026-6061">+974-5026-6061</a></p>
                                    </div>
                                    
                                    <div class="email">
                                        <a href="mailto:info@almaswater.com">info@almaswater.com</a>
                                    </div>
                                </div>
                                <!--End Single Location Box-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--End single footer widget-->
                <!--Start single footer widget-->
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 wow animated fadeInUp" data-wow-delay="0.7s">
                    <div class="single-footer-widget martop pdtop50">
                        <div class="title">
                            <h3>Business Hours</h3>
                            <div class="decor">
                                <img src="{% static 'web/images/shape/decor.png' %}" alt="">
                            </div>
                        </div>
                        <div class="single-footer-widget-business-hours">
                            <ul>
                                <li>For deliveries, book online now</li>
                            </ul>
                            <div class="btn-box">
                                <a class="btn-one" href="{% url "web:contact" %}">
                                    <div class="round"></div>
                                    <span class="txt">PLACE ORDER</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Footer-->
    <div class="footer-bottom">
        <div class="container">
            <div class="bottom-inner clearfix">
                <div class="copyright pull-left">
                    <p>Copyright &copy;<a href="https://momentumqfz.com/"> 2023 momentumqfz.com</a> </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--End footer area-->
{% comment %} <button class="scroll-top scroll-to-target" data-target="html">
    <span class="icon-right-arrow-1"></span>
</button> {% endcomment %}
</div>